<% if @list.errors.any? %>
      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>


<%= f.label :name, "Book Name" %>
<%= f.text_field :name %>

<%= f.label :description, "Description" %>
<%= f.text_area :description %>

<%= f.label :isbn, "ISBN" %>
<%= f.text_area :isbn %>