<h1>線上圖書管理系統</h1>	
<table class="table">

<tr>
		<td>序號</td>
		<td>書名</td>
		<td>描述</td>
		<td>ISBN</td>
		<td>編輯/刪除</td>
</tr>
<% @lists.each do |list| %>

<tr>	
	<td>
	<%= list.id %>
	</td>
	<td>
	<%= list.name %>
	</td>
	<td>
	<%= list.description %>	
	</td>
	<td>
	<%= list.isbn %>	
	</td>
	<td>

	<div class="btn btn-default">
	<%= link_to 'Edit', edit_list_path(list) %>
	</div>
	<div class="btn btn-default">
	<%= link_to 'Delete', list_path(list), :method=>:delete %>
	</div>	
	</td>
</tr>


<% end %>
</table>


<div>
<%= link_to 'New Event', new_list_path, :class=>"btn btn-primary"%>
</div>


<div>
<%= paginate @lists %>
</div>	